/* Start Variables */
:root{
   --main-color: #379ad6;
   --secondary-color: #2b94d3;
   --text-color:#797979 ;
   --background: #f6f6f6;
   --section-pad: 60px;
}
/* End Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    font-family:"Work Sans";
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* Start Header */
  .header{
    padding: 20px;
  }
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo{
    width: 80px;
    height: 80px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links:hover ul{
display: block;
}
.header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 50%;
    transition: 0.3s;
}

.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: beige;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);  
    display: none;
    z-index: 1;  
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent beige transparent;
    top: -20px;
    right: 0px;
    
}
.header .links ul li{
    margin-bottom: 2px;
    padding: 15px;
    
}
.header .links ul li a{
text-decoration: none;
color: black;
transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid black;
}
/* End Header */
/* Start Landing Page */
.landing{
    background-image: url(/images/louis-paulin-nz07xFfyMyo-unsplash.jpg);
    background-size: cover;
    height:calc(100vh - 121px);
    position: relative;  
}
.landing .intro-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    max-width: 100%;
    line-height: 30px;
}
.landing .intro-text h1{
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.landing .intro-text p {
    font-size: 18px;
}
/* End Landing Page */
/* start features */
.features{
padding: 30px;
background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.features .container .feat{
text-align: center;
line-height: 35px;
}
.features .container .feat i {
    color: var(--main-color);
}
.features .container .feat h3{
    font-weight: 800;
}
/* End Features */
/* Start Services  */
.services {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
  }
.special-heading{
    margin: 0;
    font-size: 100px;
    text-align: center;
    color: #7979794d;
    font-weight: 800;
  }
  .special-heading + p{
    margin: 0;
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
  }
  @media (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }
    .special + p {
        font-size: 16px;
    }
  }
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
  }
  .services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }
  .services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
  }
  .services .services-content .srv .text {
    flex: 1;
  }
  .services .services-content .srv .text h3 {
    margin: 0 0 20px;
  }
  .services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services .services-content .image img {
    width: 260px;
  }
  @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }
  /* End Services */
  /* Start Portfolio */
  .Portfolio {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    background-color: var(--background);
  }
  .Portfolio .Portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    margin-top: 100px;
  }
  .Portfolio .Portfolio-content .card {
    background-color: white;
  }
  .Portfolio .Portfolio-content img{
    width: 100%;
    height: 210px;
  }
  .Portfolio .Portfolio-content .info{
    padding: 20px;
  }
  .Portfolio .Portfolio-content .card h3 {
    margin: 0;

  }
  .Portfolio .Portfolio-content .card p {
    margin-bottom: 0;
    line-height: 35px;
    color: var(--text-color);
  }
  /* End Portfolio */
  /* Start About */
  .about {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);  
  }
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image{
  position:relative;
  width:500px ;
}
.about .about-content .image img{
  width: 100%;
}
.about .about-content .image::before{
  content: "";
position: absolute;
height: calc(100% + 80px);
background-color: #7979794d;
left: 0;
top: -40px;
z-index: -1;
width: 100px;
}
.about .about-content .image::after{
content: "";
position: absolute;
width: 120px;
  height: 300px;
border-left: 80px solid var(--main-color);
border-bottom: 80px solid var(--main-color);
right: 0;
top: -30px;
z-index: -1;
width: 100px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 650px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-pad);
  padding-bottom: var(--section-pad);
  background-color: var(--background);
}
.contact .info {
  padding-top: var(--section-pad);
  padding-bottom: var(--section-pad);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: #053c5e;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: #8bcef8;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */